
/* 手动轮播样式 */
.banner-container{
	width:1200px;
	height:550px;
	margin:1rem auto;
	overflow: hidden;
	position: relative;
}

.banner-container .banner-img-container {
	width:6000px;
	height: 550px;
	overflow: hidden;
	position: absolute;
	display: flex;
	transition: transform 0.6s ease;
}

.banner-left-arrow,
.banner-right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px; /* 设置按钮宽度 */
    height: 30px; /* 设置按钮高度 */
    background: #87c8eb; /* 设置按钮背景颜色 */
    border-radius: 50%; /* 将按钮形状变为圆形 */
    text-align: center;
    font-size: 24px; /* 设置按钮字体大小 */
    line-height: 30px; /* 设置按钮文字垂直居中 */
    cursor: pointer;
    z-index: 2;
}

.banner-left-arrow {
    left: 0;
}

.banner-right-arrow {
    right: 0;
}

.banner-control-prev,
.banner-control-next {
    display: block;
}

.banner-container .banner-img-container a{
    display: inline-block; 
    position: relative; 
    height: 550px;
    width: 100%;
    line-height: 170px;
    font-size: 18px;
    color: #fff;
}

.banner-container .banner-img-container  img{
	width:100%;
	height:100%;
}

/* 轮播图圆点样式 */
.banner-container a {
	width:24px;
	height:24px;
	background:#87c8eb;
	position: absolute;
	bottom:1rem;
	border-radius: 100%;
	margin:0;
	z-index: 1;
}

.banner-container input{
	width:24px;
	height:24px;
	position: absolute;
	bottom:1rem;
	margin:0;
	cursor: pointer;
	z-index: 2;
	opacity: 0;
}

/* 设置导航圆点偏移量（居中布局）*/
#banner-control-1,#banner-control-1 + .banner-nav-a{
    left: 30%;
}
#banner-control-2,#banner-control-2 + .banner-nav-a{
    left: 40%;
}
#banner-control-3,#banner-control-3 + .banner-nav-a{
    left: 50%;
}
#banner-control-4,#banner-control-4 + .banner-nav-a{
    left: 60%;
}
#banner-control-5,#banner-control-5 + .banner-nav-a{
    left: 70%;
}

/* 设置高亮 */
/*当 input 被选中时 他的兄弟级a标签高亮展示*/
input:checked + .banner-nav-a {
    background-color: #ad244f;
}

/* 设置轮播图动画 */
#banner-control-1:checked ~ .banner-img-container{
	transform: translateX(0px);
}
#banner-control-2:checked ~ .banner-img-container{
	transform: translateX(-1200px);
}
#banner-control-3:checked ~ .banner-img-container{
	transform: translateX(-2400px);
}
#banner-control-4:checked ~ .banner-img-container{
	transform: translateX(-3600px);
}
#banner-control-5:checked ~ .banner-img-container{
	transform: translateX(-4800px);
}

